<div class="hidden flex-col fixed top-0 left-0 h-[50vh] w-full bg-blue-600 opacity-90 p-8 z-50 " id="hamburgerMenu">

    <i class="text-2xl fa-solid fa-xmark mb-4" id="closeHamburger"></i>

    {% if  not current_user.is_authenticated %}

        <a class="my-2 hover:text-blue-800" href="/user/login"> <i class="fa-solid fa-arrow-right-to-bracket"></i> 
            <h1 class="text-2xl font-bold inline">Login</h1>
        </a>

        <a href="/user/register" class="my-2 hover:text-blue-800"> 
            <i class="fa-solid fa-user-plus"></i> 
                <h1 class="text-2xl font-bold inline">Register</h1>
        </a>
       

    {% else %} 

            <a class="mx-2 mb-4 hover:text-blue-800" href="{{url_for('profile')}}">
            <i class="fa-solid fa-user"></i>
            <h1 class="inline"> Profile Page</h1>
            </a>

            <a class="mx-2 mb-4 hover:text-blue-800" href="{{url_for('manage')}}">
                <i class="fa-solid fa-gear"></i>
                <h1 class="inline"> Manage profile</h1>
            </a>

            <a class="mx-2 mb-4 hover:text-blue-800" href="{{url_for('logout')}}">
                <i class="fa-solid fa-right-from-bracket"></i>
                <h1 class="inline"> Logout</h1>
            </a>



    {% endif %}

    <button class="bg-yellow-400 w-1/2 absolute bottom-2 left-2 text-white">
        <a href="/jobs/create">
            POST JOB
        </a>
    </button>
</div>