{% extends "layout.html" %} 

{% block content %} 

<div class="createForm flex flex-col items-start justify-center bg-blue-600 w-4/5 p-4 rounded mx-auto my-20 md:w-2/5">
    <h1 class="text-white font-bold text-2xl mb-12 self-center uppercase"> Edit profile </h1>
    <form action="/user/manage" method="POST" enctype="multipart/form-data" class="flex flex-col justify-start" autocomplete="off">
        {{form.hidden_tag()}}
        {{form.userid(value=current_user.id, hidden = 'True')}}
        <h1 class="text-sm text-white"> Display name: </h1>
        {{form.username(class_='p-4 my-2 w-[70vw] md:w-[35vw]', value = current_user.name )}}
        <h1 class="text-sm text-white"> Email: </h1>
        {{form.email(class_='p-4 my-2 w-[70vw] md:w-[35vw]', value = current_user.email )}}
        <h1 class="text-sm text-white"> New password: </h1>
        {{form.password(class_='p-4 my-2 w-[70vw] md:w-[35vw]' )}}
        <h1 class="text-sm text-white"> Please enter old password in order to edit your profile: </h1>
        {{form.oldpassword(class_='p-4 my-2 w-[70vw] md:w-[35vw]')}}
        <button type="submit" class="bg-yellow-200 rounded p-4 w-[70vw] hover:opacity-[95%] mt-8 md:w-[35vw]"> Edit Job </button>
    </form>
</div> 

{% endblock %}