{% extends "layout.html"%}
    
{% block content %}

    {% include "partials/back_to_home.html" %}

    <div class="createForm flex flex-col items-start justify-center bg-blue-600 w-4/5 p-4 rounded mx-auto my-20 md:w-2/5">
        <h1 class="text-white font-bold text-2xl mb-12 self-center uppercase"> Register Account </h1>
        <form action="/user/register" method="POST" enctype="multipart/form-data" class="flex flex-col justify-start" autocomplete="off">
          
            {{form.hidden_tag()}}
            {{form.username(class_='p-4 my-2')}}
            {{form.email(class_='p-4 my-2')}}
            {{form.password(class_='p-4 my-2')}}
            {{form.confirm(class_='p-4 my-2')}} 
            {{form.profile_picture(class_='p-4 my-2')}}

            <a href="{{ url_for('login') }}"> <p class="text-[10px] mt-2 text-white hover:opacity-[90%]"> Already have an account? Login now! </p> </a>

            <button type="submit" class="bg-yellow-200 rounded p-4 hover:opacity-[95%] mt-8"> Register </button>
        </form>
    </div>     


{% endblock %}

